.custom-shape-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 312px;
}

.shape-fill {
    transition: all .1s;
    fill: var(--main-color);
}