.toggle-switch {
    position: relative;
    width: 100px;
}
label {
    background-color: var(--main-color);
    transition: all .1s linear;
}
.toggle-switch label {
    position: absolute;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    top: -25px;
}
input {
    display: none;
}
.slider {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: .1s linear;
}
input:checked ~ .slider {
    background-color: var(--main-color);
}
.slider::before {
    content: "";
    position: absolute;
    margin-top: 4%;
    margin-left: 5%;
    width: 42%;
    height: 85%;
    border-radius: 50%;
    box-shadow: inset 15px 0px 0px 0px #003566;
    background-color: #01497c;
    transition: all .1s linear;
}
input:checked ~ .slider::before {
    transform: translateX(115%);
    background-color: var(--second-color);
    box-shadow: none;
}